body {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
    margin: 25px;
}

.container {
    display: flex;
}

img {
    height: 100px;
    width: 100px;
}

button {
    margin: 25px;
    height: 200px;
    width: 200px;
    font-size: xx-large;
    border-radius: 50%;
}

.results {
    display: flex;
    justify-items: space-between;
}

.scorecard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-radius: 25%;
    border-width: 2px;
    height: 150px;
    width: 150px;
    margin: 25px;
}